<h1> All Songs </h1>

<% @songs.each do |s|%>

<tbody>
  <tr><%= s.title %></tr>
  <!-- <tr><%= s.artist_name %></tr>
  <tr><%= s.released %></tr>
  <tr><%= s.release_year %></tr>
  <tr><%= s.genre %></tr> -->
</tbody>
<% end %>
